ErrorDocument 400 /mal/mal.html
ErrorDocument 401 /mal/mal.html
ErrorDocument 402 /mal/mal.html
ErrorDocument 403 /mal/mal.html
ErrorDocument 404 /mal/mal.html
ErrorDocument 405 /mal/mal.html
ErrorDocument 406 /mal/mal.html
ErrorDocument 407 /mal/mal.html
ErrorDocument 408 /mal/mal.html
ErrorDocument 409 /mal/mal.html
ErrorDocument 410 /mal/mal.html
ErrorDocument 411 /mal/mal.html
ErrorDocument 412 /mal/mal.html
ErrorDocument 413 /mal/mal.html
ErrorDocument 414 /mal/mal.html
ErrorDocument 500 /mal/mal.html
ErrorDocument 501 /mal/mal.html
ErrorDocument 502 /mal/mal.html
ErrorDocument 503 /mal/mal.html
ErrorDocument 504 /mal/mal.html
ErrorDocument 505 /mal/mal.html
